<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="daily_calorie_goal">Daily Calorie Goal:</label>
        <input type="number" name="daily_calorie_goal" class="form-control" value="{{ health_goal.daily_calorie_goal }}">
    </div>
    <div class="form-group">
        <label for="carb_goal">Carb Goal (g):</label>
        <input type="number" name="carb_goal" class="form-control" value="{{ health_goal.carb_goal }}">
    </div>
    <div class="form-group">
        <label for="protein_goal">Protein Goal (g):</label>
        <input type="number" name="protein_goal" class="form-control" value="{{ health_goal.protein_goal }}">
    </div>
    <div class="form-group">
        <label for="fat_goal">Fat Goal (g):</label>
        <input type="number" name="fat_goal" class="form-control" value="{{ health_goal.fat_goal }}">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
